$primary: rgb(4, 124, 237);
$secondary: rgb(181, 245, 244);
$alternate: rgb(90, 100, 179);

$card-bg: white;

$padding-sm: 1em;
$padding-md: 2em;
$padding-lg: 3em;

$margin-sm: 2em;
$margin-md: 4em;
$margin-lg: 6em;

$width-sm: 10em;
$width-md: 15em;
$width-lg: 20em;

$height-sm: 10em;
$height-md: 20em;
$height-lg: 30em;

$bg-intro: lightblue;
$bg-technologies: lightgreen;
$bg-about: rgb(220, 161, 161);
$bg-header: url('');
$bg-footer: url('');

// header variables
$headerheight: 10em;
$footerheight: 8em;

$contentwidth: 15%;
