@import '../variables';
@import '../mixin';

header {
  @include flexCenter(column);

  background : lightblue;
  color: $textColor;
  height: 100vh;

  button {
    background: $primaryBtn;
    //focus hover after 
    &:hover {
      background: red;
    }
  }
}

.contact {
  @extend header;
  background: lightcoral;
}
