@import '../mixin';
@import '../variables';

body {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.pg-full{
  width:100vw;
  height: 100vh;
  left:0;
}

.center-div {
  @include flexCenter(row, center, center)
}

.intro {
  @extend .center-div;
  @extend .pg-full;
  background: $bg-intro;
  position:absolute;
}

.tech-stack {
  @extend .center-div;
  @extend .pg-full;
  background: $bg-technologies;
  position:absolute;

}

.about {
  @extend .center-div;
  @extend .pg-full;
  background: $bg-about;
  position:absolute;

}


